<div class="container mt-4">
  <h2>Single Component: CRUD Operations</h2>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{u.userId}}</td>
        <td>{{u.name}}</td>
        <td>{{u.city}}</td>
        <td>{{ u.name | capitalcase }}</td>

        
        <td>
          <button (click)="EditUser(u.userId)" class="btn btn-success">Edit</button>&nbsp;
          <button (click)="DeleteUser(u.userId, u.name)" class="btn btn-warning">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><input type="number" [readonly]="isEdit" [(ngModel)]="user.userId" placeholder="User Id" /></td>
        <td><input type="text" [(ngModel)]="user.name" placeholder="Name" /></td>
        <td><input type="text" [(ngModel)]="user.city" placeholder="City" /></td>
        <td>
          <button *ngIf="!isEdit" class="btn btn-primary" (click)="AddUser()">Add</button>
          <button *ngIf="isEdit" class="btn btn-primary" (click)="UpdateUser()">Update</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
